Thunderhub Rules:
0) There are no rules
1) See 0
2) Exposure to further rules are not part of this Aperture Science test.


Three Laws of Robotics:
1) A robot may not injure a human being or, through inaction, allow a human being to come to harm.
2) A robot must obey any orders given to it by human beings, except where such orders would conflict with the First Law.
3) A robot must protect its own existence as long as such protection does not conflict with the First or Second Law.

The Rules of Fight Club:
1) You don't talk about fight club.
2) You don't talk about fight club.
3) When someone says stop, or goes limp, the fight is over.
4) Only two guys to a fight.
5) One fight at a time.
6) They fight without shirts or shoes.
7) The fights go on as long as they have to.
8) If this is your first night at fight club, you have to fight.

Hammurabi's Code:
* If anyone ensnares another, putting a ban upon him, but he cannot prove it, then he that ensnared him shall be put to death.
* If anyone brings an accusation against a man, and the accused goes to the river and leaps into the river, if he sinks in the
  river his accuser shall take possession of his house. But if the river proves that the accused is not guilty, and he escapes
  unhurt, then he who had brought the accusation shall be put to death, while he who leaped into the river shall take possession
  of the house that had belonged to his accuser.
* If anyone find runaway male or female slaves in the open country and bring them to their masters, the master of the slaves shall
  pay him two shekels of silver.
* If anyone brings an accusation of any crime before the elders, and does not prove what he has charged, he shall, if a capital
  offense is charged, be put to death.
* If a builder builds a house for someone, and does not construct it properly, and the house which he built falls in and kills its
  owner, then the builder shall be put to death. (Another variant of this is, If the owner's son dies, then the builder's son shall
  be put to death.)
* If a son strikes his father, his hands shall be hewn off.
* If a man gives his child to a nurse and the child dies in her hands, but the nurse, unbeknown to the father and mother, nurses
  another child, then they shall convict her of having nursed another child without the knowledge of the father and mother and her
  breasts shall be cut off.
* If anyone steals the minor son of another, he shall be put to death.
* If a man takes a woman as a wife, but has no intercourse with her, this woman is no wife to him.
* If a man strike a free-born woman so that she lose her unborn child, he shall pay ten shekels for her loss.
* If a man puts out the eye of an equal, his eye shall be put out.
* If a man knocks the teeth out of another man, his own teeth will be knocked out.
* If anyone strikes the body of a man higher in rank than he, he shall receive sixty blows with an ox-whip in public.
* If a freeborn man strikes the body of another freeborn man of equal rank, he shall pay one gold mina.
* If the slave of a freed man strikes the body of a freed man, his ear shall be cut off.
* If anyone commits a robbery and is caught, he shall be put to death.
* If anyone opens his ditches to water his crop, but is careless, and the water floods his neighbor's field, he shall pay his
  neighbor corn for his loss.
* If a judge tries a case, reaches a decision, and presents his judgment in writing; and later it is discovered that his decision
  was in error, and it was his own fault, he shall pay twelve times the fine set by him in the case and be removed from the judge's
  bench.
